body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(
    to left,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
